.invoiceCreator {
    width: 100%;
    margin: 50px 0;
    border: 1px solid rgba(0, 0, 0, .125);
    position: relative; /* If you want text inside of it */
    padding-top: 141.42%; /* 1:1 Aspect Ratio */
}

.creatorBody {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 20px;
    position: absolute;
}

:global {
    .input {
        width: 100%;
        resize: none;
        border: none;
        height: calc(1.5em + 0.75rem + 2px);
        outline: none;
        padding: 0.375rem 0.75rem;
        display: block;
        transition: all 100ms;

        &:hover, &:focus {
            overflow-y: hidden;
            border-bottom: 3px solid rgba(0, 0, 0, 1);
        }

        &.input-company {
            font-size: 3em;
            overflow-y: hidden;
            font-weight: bold;
            &:hover, &:focus {
                border-bottom: 5px solid #000;
            }
        }

        &.input-right {
            text-align: right;
        }

        &.input-address {
            &:first-line {
                font-weight: bold;
            }
        }
    }
}